# products service
# Retirer node_modules, dist, generated directories et .env files
/services/products-service/node_modules
/services/products-service/dist
/services/products-service/generated
/services/products-service/.env

/services/stocks-service/node_modules
/services/stocks-service/dist
/services/stocks-service/generated
/services/stocks-service/.env